ProActiveServer:
    image: tobwiens/proactive-scheduler:6.2.0
    ports:
        - "8080:8080"
ProActiveNode:
    image: tobwiens/proactive-node:6.2.0
    links:
        - ProActiveServer:Master
    command: -r pnp://Master:64738
    privileged: true
